.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #FFAAA7, #FFAAA7);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{
    display: flex;
}

@media(min-width:768px){
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next{
      transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev{
      transform: translateX(25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start{
  transform: translateX(0);
}

@media(max-width:767px){
  #carous-section img{
    width: 100%;
  }
  .carousel-inner .carousel-item >div{
      display: none;
  }
  .carousel-inner .carousel-item >div:first-child{
    display: block;
  }
}



.images{
  width: fit-content;
  height: 330px;   
}
.m-width{
  height: 280px;
  width: 100%;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  